.Note {
	width: 70%;
	padding: 3rem 0;
	margin: 0 auto;
}

.Note form {
	width: 100%;
	margin: 0 auto;
	border-radius: 50px;
}

.Note form input[type='text'],
.Note form textarea {
	width: 100%;
	display: block;
	box-sizing: border-box;
	border: none;
}

.Note form input[type='text'] {
	padding: 8px;
	font-size: 2rem;
	border-bottom: 1px solid #f4f5f7;
	font-weight: bold;
}

.Note form textarea {
	padding: 8px;
	border: none;
	min-height: 200px;
	resize: none;
}
.Note button {
	width: 120px;
	height: 40px;
	border: none;
	background-color: #2cb696;
	color: white;
	font-weight: bold;
	padding: 0.4rem 1.5rem;
	margin-top: 1rem;
	border-radius: 0.2rem;
	float: right;
	align-self: flex-end;
}

.Note button:hover {
	cursor: pointer;
}

.Post {
	width: 60%;
	margin: 0 auto;
	padding: 0;
}

.Post ul {
	margin-top: 100px;
	padding: 0;
}

.Post li {
	list-style: none;
}

@media screen and (max-width: 959px) {
	.Note {
		width: 100%;
	}
}
